.catalog-container {
  background-color: white;
  border: 1px solid white; /* bugfix */
}

.catalog-search-container {
  background: #ededed;
  border-radius: 10px;
  margin: 10px 10px 30px 10px;
  height: 86px;
}

.catalog-search-container input {
  height: 40px;
  border-radius: 5px 0 0 5px;
  border-style: none;
  margin-top: 22px;
  margin-left: 10px;
  min-width: 200px;
  width: calc(100% - 300px);
}

.catalog-search-container button {
  height: 40px;
  width: 77px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #00285f;
  margin-bottom: 3px;
  margin-left: 5px;
}

.catalog-card-container {
  padding: 10px;
}

@media (min-width: 576px) {
  .catalog-search-container {
    height: 123px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .catalog-search-container input {
    margin-top: 42px;
    margin-left: 20px;
  }

  .catalog-search-container button {
    width: 174px;
  }
}
