.catalog-container {
  background-color: white;
}

.catalog-search-container {
  background: #ededed;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
}

.catalog-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
