@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  /* box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 50%); */
}

body {
  margin: 0px;
}